    body{
        background-image: url(/homepage/chair.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .srch{
        width: 100px;
        height: 20px;
        padding-left: 5px;
        border-radius: 50px;
        border: none;
        font-style: italic;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.400);
    }


    .but-ton{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sign:hover,.join:hover{
        background-color: rgba(18, 90, 141, 0.973);
        color: yellowgreen;
        box-shadow: 0.2px 0.5px 10px rgba(11, 63, 131, 0.914);
    }

    .sign:active,.join:active{
        background-color: rgba(18, 90, 141, 0.973);
        color: rgb(255, 255, 255);
        box-shadow: 0.1px 0.1px 5px rgb(57, 116, 253);

    }

    .sign,.join {
        text-align: center;
        font-weight: lighter;
        cursor: pointer;
        box-shadow: 0.4px 0.5px 5px rgba(0, 170, 255, 0.377);
        height: 30px;
        width: 100px;
        border-radius: 25px;
        border-width: 0.5px;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        transition: background-color 0.2s, box-shadow 0.2s;
        background-color: black;
        color: white;
        order: 2;
        margin-right: 2px;
    }
   
    .mail {
        font-style: italic;
        margin-right: 10px;
        margin-left: 5px;
        border-radius: 15px;
        padding-left: 10px;
        border: none;
        height: 30px;
        box-shadow: 0.2px 0.2px 5px rgba(25, 148, 185, 0.627);
    }
