    body{
        color: white;
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: Lexend;
    }

    .top_box{
        display: flex;
        margin-bottom: 50px;
        flex-direction: row;
        justify-content: center;
    }


    .left,.right{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-grow: 2;
        width: 400px;
    }

    #item{
        text-decoration: none;
        font-size: 30px;
        color: white;
        transition: color 0.2s;
    }
    
    #item:hover{
        color: rgb(169, 245, 17);
    }

    .tit_le{
        text-decoration: none;
        color: white;
        transition: color 0.2s;
        font-family: Grey Qo;
        font-size: 100px;
    }
     
    .tit_le:hover{
        color: rgb(169, 245, 17);
    }

    .pfp{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        transition: box-shadow 0.2s;
    }

    .pfp:hover{
        box-shadow: 0.1px 0.1px 20px rgba(255, 255, 255, 0.682);
    }

    .item{
        text-decoration: none;
        font-family: Aboreto;
        font-size: 20px;
        color: white;
        transition: color 0.2s;
    }

    .item:hover{
        color:yellowgreen
    }

    .note{
        font-style: italic;
        color: rgb(135, 0, 0);
    }

    .hometext{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        font-weight: 300;
        text-align: center;
        margin-bottom: 50px;
    }

    .bottom{
        font-weight: 200;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60px;
        text-align: center;
        transition: color 0.3s;
        color: white;
        background-color: rgb(0, 0, 0);
        margin-top: 70%;
    }

    .bottom:hover{
        color: rgb(169, 245, 17);
        cursor: default;
    }
    
    .bot_note,.bot_cop{
        margin: 0;
    }

